body {
    font-family: Arial, sans-serif;
}

h1 {
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
}


p {
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    font-size: 50px;
    height: 50px;
}


.btn {
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    font-size: 50px;
    height: 100px;
    width: 100%;
}


.btns-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btns-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-btns-row {
    display: flex;
    gap: 10px;
}

#result-btn {
    background-color: #00ff08;
}

#clear-btn {
    background-color: #3411d2;
}

#delete-btn {
    background-color: #ff0000;
}

.number-btn {
    background-color: #b5b5b5;
}

.action-btn {
    background-color: #ffb400;
}

#btn0 {
    grid-column: 2;
}

#btn-multiply {
    grid-column: 4;
}